<a href="https://colab.research.google.com/github/AROME011/CSC221A_AROME011/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = f"My first bicycle was a {bicycles[-2].title()}"
print(bicycles)
print(bicycles[1])
print(bicycles[-2])
print(bicycles[3].title())
print(message)

['trek', 'cannondale', 'redline', 'specialized']
cannondale
redline
Specialized
My first bicycle was a Redline

In [ ]:
friends = ['caitlin', 'dawson', 'alex', 'aiden']
print(friends[0])
print(friends[1])
print(friends[-2])
print(friends[3])

caitlin
dawson
alex
aiden

In [ ]:
friends = ['caitlin', 'dawson', 'alex', 'aiden']
message = f"Miss you {friends[0].title()}"
message1 = f"Miss you {friends[1].title()}"
message2 = f"Miss you {friends[-2].title()}"
message3 = f"Miss you {friends[3].title()}"
print(message)
print(message1)
print(message2)
print(message3)

Miss you Caitlin
Miss you Dawson
Miss you Alex
Miss you Aiden

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
home = f"In order to get home, I will drive a {transportation[2]}"
campus = f"I wish I had a {transportation[0]} to get around campus"
vacation = f"When I go to Puerto Rico, I am taking a {transportation[-1]}"
print(home)
print(campus)
print(vacation)

In order to get home, I will drive a car
I wish I had a bike to get around campus
When I go to Puerto Rico, I am taking a plane

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
transportation[0] = 'feet'
print(transportation)

['feet', 'train', 'car', 'plane']

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
transportation.append('feet')
print(transportation)

['bike', 'train', 'car', 'plane', 'feet']

In [ ]:
transportation = []
transportation.append('bike')
transportation.append('train')
transportation.append('car')
transportation.append('plane')
print(transportation)

['bike', 'train', 'car', 'plane']

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
transportation.insert(2, 'feet')
print(transportation)

['bike', 'train', 'feet', 'car', 'plane']

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
del transportation[-1]
print(transportation)

['bike', 'train', 'car']

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
popped_transportation = transportation.pop(1)
print(transportation)
print(popped_transportation)

['bike', 'car', 'plane']
train

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
pop_trans = transportation.pop(1)
print("My least favorite means of transpotation is a " + pop_trans)

My least favorite means of transpotation is a train

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
transportation.remove('car')
print(transportation)

['bike', 'train', 'plane']

In [ ]:
transportation = ['bike', 'train', 'car', 'plane']
favorite_trans = 'plane'
transportation.remove('plane')
print("My favorite means of transportation is a " + favorite_trans.lower() )

My favorite means of transportation is a plane

In [ ]:
guests = ['Kevin James', 'Josh Allen', 'JFK', 'Zach Bryan']
print("Hey " + guests[0] + ", would like to come to dinner? ")
print("Hey " + guests[1] + ", would like to come to dinner? ")
print("Hey " + guests[-2] + ", would like to come to dinner? ")
print("Hey " + guests[3] + ", would like to come to dinner? ")
print("\n")
print(guests[-2] + " can not make it to dinner")
guests.remove('JFK')
guests.insert(2, 'FDR')
print("Here is the list of new guests")
print(guests)
print("\n")
print("Hey " + guests[0] + ", would like to come to dinner? ")
print("Hey " + guests[1] + ", would like to come to dinner? ")
print("Hey " + guests[-2] + ", would like to come to dinner? ")
print("Hey " + guests[3] + ", would like to come to dinner? ")
print("\n")
print("I have found a bigger table and will be inviting 3 more people")
print("Here is the new list of invitees")
guests.insert(0, 'Michael Jordan')
guests.insert(4, 'Adam Sandler')
guests.insert(3, 'Leonardo di Vinci')
print(guests)
print("Hey " + guests[0] + ", would like to come to dinner? ")
print("Hey " + guests[1] + ", would like to come to dinner? ")
print("Hey " + guests[2] + ", would like to come to dinner? ")
print("Hey " + guests[3] + ", would like to come to dinner? ")
print("Hey " + guests[4] + ", would like to come to dinner? ")
print("Hey " + guests[6] + ", would like to come to dinner? ")
print("\n")
print("The table will not arrive in time so I only have room for 2 people")
print("Sorry " + guests[4] + ", but I do not have room for you anymore. ")
print("Sorry " + guests[-2] + ", but I do not have room for you anymore. ")
print("Sorry " + guests[0] + ", but I do not have room for you anymore. ")
print("Sorry " + guests[1] + ", but I do not have room for you anymore. ")
print("Sorry " + guests[3] + ", but I do not have room for you anymore. ")
guests.pop(4)
guests.pop(0)
guests.pop(3)
guests.pop(0)
guests.pop(1)
print("Here is the list of the 2 people I will be inviting")
print(guests)
guests.remove('Josh Allen')
guests.remove('Zach Bryan')
print(guests)

Hey Kevin James, would like to come to dinner?
Hey Josh Allen, would like to come to dinner?
Hey JFK, would like to come to dinner?
Hey Zach Bryan, would like to come to dinner?


JFK can not make it to dinner
Here is the list of new guests
['Kevin James', 'Josh Allen', 'FDR', 'Zach Bryan']


Hey Kevin James, would like to come to dinner?
Hey Josh Allen, would like to come to dinner?
Hey FDR, would like to come to dinner?
Hey Zach Bryan, would like to come to dinner?


I have found a bigger table and will be inviting 3 more people
Here is the new list of invitees
['Michael Jordan', 'Kevin James', 'Josh Allen', 'Leonardo di Vinci', 'FDR', 'Adam Sandler', 'Zach Bryan']
Hey Michael Jordan, would like to come to dinner?
Hey Kevin James, would like to come to dinner?
Hey Josh Allen, would like to come to dinner?
Hey Leonardo di Vinci, would like to come to dinner?
Hey FDR, would like to come to dinner?
Hey Zach Bryan, would like to come to dinner?


The table will not arrive in time so I only have room for 2 people
Sorry FDR, but I do not have room for you anymore.
Sorry Adam Sandler, but I do not have room for you anymore.
Sorry Michael Jordan, but I do not have room for you anymore.
Sorry Kevin James, but I do not have room for you anymore.
Sorry Leonardo di Vinci, but I do not have room for you anymore.
Here is the list of the 2 people I will be inviting
['Josh Allen', 'Zach Bryan']
[]

In [ ]:
sports = ['golf', 'soccer', 'basketball', 'baseball']
print("Here is the original list:")
print(sports)
print("\nHere is the sorted list:")
sports.sort()
print(sports)
print("\nHere is the reverse sorted list:")
sports.sort(reverse=True)
print(sports)

Here is the original list:
['golf', 'soccer', 'basketball', 'baseball']

Here is the sorted list:
['baseball', 'basketball', 'golf', 'soccer']

Here is the reverse sorted list:
['soccer', 'golf', 'basketball', 'baseball']

In [ ]:
sports = ['golf', 'soccer', 'basketball', 'baseball']
print("Here is the original list:")
print(sports)
print("\nHere is the sorted list:")
print(sorted(sports))
print("\nHere is the original list again")
print(sports)

Here is the original list:
['golf', 'soccer', 'basketball', 'baseball']

Here is the sorted list:
['baseball', 'basketball', 'golf', 'soccer']

Here is the original list again
['golf', 'soccer', 'basketball', 'baseball']

In [ ]:
sports = ['golf', 'soccer', 'basketball', 'baseball']
sports.reverse()
print(sports)

len(sports)

['baseball', 'basketball', 'soccer', 'golf']

4

In [ ]:
places = ['Sweeden', 'Mount Washington', 'Alaska', 'Montana', 'France']
print(places)
print(sorted(places))
print(places)

places.reverse()
print(places)
places.reverse()
print(places)
places.sort()
print(places)
places.sort(reverse=True)
print(places)

['Sweeden', 'Mount Washington', 'Alaska', 'Montana', 'France']
['Alaska', 'France', 'Montana', 'Mount Washington', 'Sweeden']
['Sweeden', 'Mount Washington', 'Alaska', 'Montana', 'France']
['France', 'Montana', 'Alaska', 'Mount Washington', 'Sweeden']
['Sweeden', 'Mount Washington', 'Alaska', 'Montana', 'France']
['Alaska', 'France', 'Montana', 'Mount Washington', 'Sweeden']
['Sweeden', 'Mount Washington', 'Montana', 'France', 'Alaska']

In [ ]:
guests = ['Kevin James', 'Josh Allen', 'JFK', 'Zach Bryan', 'FDR', 'Michael Jordan', 'Leonardo di Vinci']
len(guests)

7

In [ ]:
cities = ['Buffalo', 'Cleveland', 'Pittsburgh', 'Toronto', 'Baltimore']
print(cities)
print(cities[2])
print(cities[0])
print(cities[3].upper())
print("I am from " + cities[0])
cities[4] = 'Chicago'
print(cities)
cities.append('Baltimore')
print(cities)
cities.insert(2, 'New York City')
print(cities)
del cities[5]
print(cities)
popped_city = cities.pop(2)
print(cities)
print(popped_city)
popped_city2 = cities.pop(3)
print("My favorite city to visit is " + popped_city2)
cities.remove('Baltimore')
print(cities)
print(sorted(cities))
print(cities)
cities.sort(reverse=True)
print(cities)
len(cities)

['Buffalo', 'Cleveland', 'Pittsburgh', 'Toronto', 'Baltimore']
Pittsburgh
Buffalo
TORONTO
I am from Buffalo
['Buffalo', 'Cleveland', 'Pittsburgh', 'Toronto', 'Chicago']
['Buffalo', 'Cleveland', 'Pittsburgh', 'Toronto', 'Chicago', 'Baltimore']
['Buffalo', 'Cleveland', 'New York City', 'Pittsburgh', 'Toronto', 'Chicago', 'Baltimore']
['Buffalo', 'Cleveland', 'New York City', 'Pittsburgh', 'Toronto', 'Baltimore']
['Buffalo', 'Cleveland', 'Pittsburgh', 'Toronto', 'Baltimore']
New York City
My favorite city to visit is Toronto
['Buffalo', 'Cleveland', 'Pittsburgh']
['Buffalo', 'Cleveland', 'Pittsburgh']
['Buffalo', 'Cleveland', 'Pittsburgh']
['Pittsburgh', 'Cleveland', 'Buffalo']

3

In [22]:
x = [40, 50, 120, -8, 6]
y = 7.4*(x[0]) + 51
print(y)
y = 7.4*(x[1]) + 51
print(y)
y = 7.4*(x[2]) + 51
print(y)
y = 7.4*(x[-2]) + 51
print(y)
y = 7.4*(x[4]) + 51
print(y)

347.0
421.0
939.0
-8.200000000000003
95.4

In [15]:
x = [9, 10, 11, 12]
y = 7*(x[0])
print(y)
y = 7*(x[1])
print(y)
y = 7*(x[2])
print(y)
y = 7*(x[-1])
print(y)

63
70
77
84